body {
    font-family: Arial;
    background: #0f172a;
    color: white;
    text-align: center;
}

.card {
    margin: 80px auto;
    padding: 20px;
    width: 320px;
    background: #1e293b;
    border-radius: 10px;
}

input, textarea, button {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
}

button {
    background: #38bdf8;
    border: none;
    cursor: pointer;
}

table {
    margin: auto;
    border-collapse: collapse;
    width: 70%;
    background: white;
    color: black;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
}

th {
    background: #38bdf8;
    color: white;
}